* {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}

body {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-image: url(./img/background.jpg);
  background-size: cover;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.sound {
  font-size: 1.1rem;
  color: rgb(255, 255, 46);
  text-transform: uppercase;
}

.play {
  transform: scale(1.1);
  border-color: gold;
  box-shadow: 0 0 1rem #ffc660;
}

kbd {
  display: block;
  font-size: 4rem;
}
